# This is Git's per-user configuration file.
[user]
 name = "TYDAN923"
 email = takayuki.yoshimura@deepx.co.jp
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
    graph = log --graph --all --decorate=full
[fetch]
	prune = true
